.bottom {
    overflow: hidden;
    padding: 0 !important;
}

ul{
    position:fixed;/* set the position of the navigation bar*/
    bottom:0;
    margin: 0;
    width: 100%;
    justify-items: center;
    background-color: aliceblue;
    /*background: var(--tg-theme-bg-color);*/
    display: flex;
}
/* Style the links inside the navigation bar */
ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,0.2);
}
ul li:last-child{
    border-right: none;
}
ul li a{
    text-decoration: none;
    padding: 0 10px;
    display: block;
}
/* Style the icon inside the navigation bar */
ul li a .icon{
    width: 40px; /* changing the width of the icon */
    height: 40px; /* changing the height of the icon */
    text-align: center;
    overflow: hidden;

}
/* set the size, height, width of the icon*/
ul li a .icon .fa{
    width: 100%;
    height: 100%;
    font-size: 34px;
    transition: 0.5s; /* adding the transition to make it more attractive */
    color: var(--tg-theme-text-color);
}

/* Change the color of icon on hover */
ul li a .icon .fa:last-child{
    color: aqua;
}
/* style the color and transform of the icon on hover */
ul li a:hover .icon .fa{
    transform: translateY(-100%); /* translate y to add the hover effect */
}
ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;/*make ul li a .name overflow is hidden*/
}
/*style the font size and set transition of the navigation menu*/
ul li a .name span{
    display: block;
    position: relative;
    color: var(--tg-theme-text-color);
    font-size: 18px; /* changing font size */
    line-height: 20px;
    transition: 0.5s; /* adding the transition to make it more attractive */

}
/*set and change position, top, width, left, height color of the 'class'.name span:before*/
ul li a .name span:before{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    width: 100%;
    left: 0;
    color: aqua;

}
/*style hover effect of ul li a .name span */
ul li a:hover .name span{
    transform: translateY(20px);
}