nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #673ab7;
    overflow: auto;
}

nav a {
    float: none;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {

    background-color: #d1C4E9;

}

.active {
    background-color: #e040fb;
}

