.nota {
    position: absolute;
    color: #fff;
    transition: all 0.5s ease-out;
}

.nota.small {
    font-size: 12px;
}

.nota.medium {
    font-size: 24px;
}

.nota.large {
    font-size: 36px;
}

.nota::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
}