* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

h1{
  color: var(--tg-theme-text-color);
}





